.product-item-inner .product-item-actions button {
    color: #fff !important;
}
.wide.finder-index-index .products-grid .product-item-details .product-item-actions .tocart {
    background-color: #FF0000;
    border-color: #FF0000;
}
.wide.finder-index-index .products-grid .product-item-details .product-item-actions .tocart:hover{
        background-color: #FF5252;
    border-color: #FF5252;
}
.modal-popup.modals-ajaxcart .actions {
    align-items: center;
    flex-direction: row-reverse;
}
.modal-popup.modals-ajaxcart .actions .checkout-link a {
    background: #ed0000;
    color: #fff;
    padding: 13px 15px 12px;
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
}
.modal-popup.modals-ajaxcart .actions .checkout-link a:hover {
    color: #000;
    text-decoration: none;
}
.products-grid .product-item-details .product-item-actions {
    width: 100% !important;
    margin: 0;
}
.wide.finder-index-index .wide.finder-index-index {
    width: auto;
}
.wide.finder-index-index .products-grid .product-item .product-item-details {
    text-align: center;
}
.wide.finder-index-index .products-grid .product-item .product-item-info {
    border: solid 1px #ececec;
}
@media handheld, only screen and (max-width: 767px){
    .modal-popup.modal-slide {
        left: 0;
    }
    .modal-popup.modal-slide._show .modal-inner-wrap {
        transform: translateY(-50%);
        height: auto;
        margin: 0 auto;
        position: absolute;
    }
}
@media handheld, only screen and (max-width: 480px){
    .modal-popup.modals-ajaxcart .modal-inner-wrap .content-ajaxcart .product-image {
        display: block;    
    }
    .modal-popup.modals-ajaxcart .actions{
        width: 100% !important;
        display: block;
        text-align: center;
    }
    .modal-popup.modals-ajaxcart .actions .checkout-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .modal-popup.modals-ajaxcart .actions .checkout-link a {
        min-width: 150px;
        display: inline-block;
    }
    .modal-popup.modals-ajaxcart .actions .btn-continue {
        margin-right: auto !important;
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }
}
