<?php
$currentFullAction = $block->getRequest()->getFullActionName();
if ($currentFullAction == 'cms_index_index') {
$reviewCollection = $block->getReviewCollection();
$totalReviews = $block->getDisplayNoReview();
$totalRating = $block->getTotalRating();
$avg = ($totalReviews?($totalRating / $totalReviews):0);
if($totalReviews) {
    ?>
    <div class="container sparsh_all_product_reviews page-products">
        <div class="sparsh-all-product-reviews-summary">
            <!-- <div class="sparsh-all-product-reviews-stars">
                <span style='width:<?php //echo $block->escapeHtml($avg) ?>%'/>
            </div> -->
            <div class="sparsh-all-product-reviews-summary-text">
                <!-- <p>
                    <?php //echo $block->escapeHtml(__('Rated ') . $block->getAvgRating() . __(' out of 5 stars.')) ?>
                    <?php //if ($block->isDisplayTotal()) : ?>
                        <?php //echo $block->escapeHtml(__('Based on ') . $totalReviews . __(' Reviews')); ?>
                    <?php //endif ?>
                </p> -->
                <h2 class="filterproduct-title" style="margin-bottom: 4px;"><span class="content" style="align: center;"><strong><?php echo __('What Our Customer Are Saying...');?></strong></span></h2>
            </div>
        </div>
        <div class="products wrapper grid products-grid sparsh-all-product-reviews-columns">
            <ol class="products list items product-items">
                <?php $i =0; ?>
                <?php foreach ($reviewCollection as $review) : 
                    if ($i < 10){
                     ?>
                    <li class="item product product-item">
                        <div class="product-item-info">
                            <div class="product details product-item-details">
                                <?php if ($block->showTitle()) : ?>
                                    <strong class="product-item-name sparsh-all-product-review-title">
                                        <?= $block->escapeHtml($review['title']) ?>
                                    </strong>
                                <?php endif; ?>
                                <?php if ($block->showName()) : ?>
                                    <span class="product-item-name sparsh-all-product-review-by"><strong>By: </strong><?= $block->escapeHtml($review['nickname']) ?></span>
                                <?php endif; ?>

                                <?php if ($block->showDate()) : ?>
                                    <?php
                                    $date = new DateTime($review['created_at']);
                                    ?>
                                    <div><strong>On: </strong><?= $block->escapeHtml($date->format('d/m/Y')) ?></div>
                                <?php endif; ?>

                                <?php if ($block->showRating()) : ?>
                                    <div class="product-reviews-summary short">
                                        <div class="rating-summary">
                                            <a href="<?= $block->escapeUrl($block->getProductReviewUrl($review['entity_pk_value'])); ?>">
                                                <span class="label"><span><?= $block->escapeHtml(__('Rating:')) ?></span></span>
                                                <div class="rating-result"
                                                     title="<?= $block->escapeHtml($review['review_value'] . '%') ?>">
                                                    <span style="width: <?= $block->escapeHtml($review['review_value'] . '%') ?>"><span><?= $block->escapeHtml($review['review_value'] . '%') ?></span></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="review-image">
                            <?php if ($block->showImage()) : ?>
                                <?php $imgpath = $block->getImagePathFromSku($review['entity_pk_value']); ?>
                                <a href="<?= $block->escapeUrl($block->getProductImageUrl($review['entity_pk_value'])); ?>" class="product photo product-item-photo">
                                <img class="" src="<?= $block->escapeHtml($imgpath) ?>" max-width="240" max-height="300" alt="Proteus Fitness Jackshirt">    
                                <!-- <span class="product-image-container" style="width:240px;">
                                    <span class="product-image-wrapper" style="padding-bottom: 100%;">
                                        <img class="product-image-photo" src="<?php //echo $block->escapeHtml($imgpath) ?>" max-width="240" max-height="300" alt="Proteus Fitness Jackshirt">
                                    </span>
                                </span> -->
                                </a>
                            <?php endif; ?>
                            <div class="details"><?= $block->escapeHtml($review['detail']) ?></div>
                            </div>
                        </div>
                    </li>
                 <?php  } $i++;  ?>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>
    <h2 class="title" style="text-align:left;"><a href="<?php echo $this->getBaseUrl();?>customer-feedback" target="_blank"><?php echo __('Continue reading our cusomer reviews....');?></a></h2>
    <?php
} else {
    ?>
    <div class="container sparsh_all_product_reviews page-products">
        <div class="sparsh-all-product-reviews-summary">
            <h2><?= $block->escapeHtml(__('No review found.')) ?></h2>
        </div>
    </div>
    <?php
}
}else{
$reviewCollection = $block->getReviewCollection();
$totalReviews = $block->getDisplayNoReview();
$totalRating = $block->getTotalRating();
$avg = ($totalReviews?($totalRating / $totalReviews):0);
if($totalReviews) {
    ?>
    <div class="container sparsh_all_product_reviews page-products">
        <div class="sparsh-all-product-reviews-summary">
       <!--      <div class="sparsh-all-product-reviews-stars">
                <span style='width:<?php //echo $block->escapeHtml($avg) ?>%'/>
            </div> -->
            <div class="sparsh-all-product-reviews-summary-text">
                <!-- <p>
                  <?php //echo $block->escapeHtml(__('Rated ') . $block->getAvgRating() . __(' out of 5 stars.')) ?>
                    <?php //if ($block->isDisplayTotal()) : ?>
                        <?php  //echo $block->escapeHtml(__('Based on ') . $totalReviews . __(' Customer Review')); ?>
                    <?php //endif ?>
                </p> -->
                <h2 class="filterproduct-title" style="margin-bottom: 4px;"><span class="content" style="align: center;"><strong><?php echo __('What Our Customer Are Saying...');?></strong></span></h2>
            </div>
        </div>
        <div class="products wrapper grid products-grid sparsh-all-product-reviews-columns">
            <ol class="products list items product-items">
                   <?php //$i =1; ?>
                <?php foreach ($reviewCollection as $review) :
                    
                     ?>
                    <li class="item product product-item">
                        <div class="product-item-info">
                            <div class="product details product-item-details">
                                <?php if ($block->showTitle()) : ?>
                                    <strong class="product-item-name sparsh-all-product-review-title">
                                        <?= $block->escapeHtml($review['title']) ?>
                                    </strong>
                                <?php endif; ?>
                                <?php if ($block->showName()) : ?>
                                    <span class="product-item-name sparsh-all-product-review-by"><strong>By: </strong><?= $block->escapeHtml($review['nickname']) ?></span>
                                <?php endif; ?>

                                <?php if ($block->showDate()) : ?>
                                    <?php
                                    $date = new DateTime($review['created_at']);
                                    ?>
                                    <div><strong>On: </strong><?= $block->escapeHtml($date->format('d/m/Y')) ?></div>
                                <?php endif; ?>

                                <?php if ($block->showRating()) : ?>
                                    <div class="product-reviews-summary short">
                                        <div class="rating-summary">
                                            <a href="<?= $block->escapeUrl($block->getProductReviewUrl($review['entity_pk_value'])); ?>">
                                                <span class="label"><span><?= $block->escapeHtml(__('Rating:')) ?></span></span>
                                                <div class="rating-result"
                                                     title="<?= $block->escapeHtml($review['review_value'] . '%') ?>">
                                                    <span style="width: <?= $block->escapeHtml($review['review_value'] . '%') ?>"><span><?= $block->escapeHtml($review['review_value'] . '%') ?></span></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="review-image">
                            <?php if ($block->showImage()) : ?>
                                <?php $imgpath = $block->getImagePathFromSku($review['entity_pk_value']); ?>
                                <a href="<?= $block->escapeUrl($block->getProductImageUrl($review['entity_pk_value'])); ?>" class="product photo product-item-photo">
                                        <img class="" src="<?= $block->escapeHtml($imgpath) ?>" max-width="240" max-height="300" alt="Proteus Fitness Jackshirt">
                                </a>
                                <!-- <span class="product-image-container" style="width:240px;">
                                    <span class="product-image-wrapper" style="padding-bottom: 100%;"> -->
                                   <!--  </span>
                                </span> -->
                            <?php endif; ?>
                            <div class="details"><?= $block->escapeHtml($review['detail']) ?></div>
                            </div>
                        </div>
                    </li>
                                <?php endforeach; ?>

            </ol>
        </div>
    </div>
    <?php
} else {
    ?>
    <div class="container sparsh_all_product_reviews page-products">
        <div class="sparsh-all-product-reviews-summary">
            <h2><?= $block->escapeHtml(__('No review found.')) ?></h2>
        </div>
    </div>
    <?php
}
}
?>
