<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $_reviewsColFactory = $objectManager->get("\Magento\Review\Model\ResourceModel\Review\CollectionFactory");
    $_storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $reviewsCollection = $_reviewsColFactory->create()
                                            ->addStoreFilter($_storeManager->getStore()->getStoreId())
                                            ->addStatusFilter(\Magento\Review\Model\Review::STATUS_APPROVED)
                                            ->addRateVotes()
                                            ->setDateOrder();
    //echo '<pre>'; print_r($reviewsCollection->getData()); exit;
    foreach($reviewsCollection as $review):?>
        <div class='review-single col-md-12'>
            <div class="box-review-single">
                <p id="title-review">
                    <?php echo $review['title'];  ?>
                </p>
                <p id="detail-review">
                    <?php echo $review['detail'];  ?>
                </p>
                <p id="nick-review">
                    <?php echo $review['nickname'];  ?>
                </p>
                <p id="value">
                   <?php echo $review['ratingValue']; ?>
                </p>   
            </div>
        </div>
 <?php endforeach; ?>
<?php 
/*$productId = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$reviewFactory = $objectManager->create('Magento\Review\Model\Review');
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
$storeManager  = $objectManager->create('\Magento\Store\Model\StoreManagerInterface');
$storeId = $storeManager->getStore()->getStoreId();
$reviewFactory->getEntitySummary($product, $storeId);

$ratingSummary = $product->getRatingSummary()->getRatingSummary();
$reviewCount = $product->getRatingSummary()->getReviewsCount();
?>
<?php if($ratingSummary){ ?>
<div class="product-reviews-summary short">
    <div class="rating-summary">
        <div title="<?php echo (int)$ratingSummary; ?>%" class="rating-result">
            <span style="width:<?php echo (int)$ratingSummary; ?>%"><span><?php echo (int)$ratingSummary; ?>%</span></span>
        </div>
    </div>
    <div class="reviews-actions">
        <?php echo __('('.$reviewCount.') Reviews'); ?>
    </div>
</div>
<?php }*/ ?>
