<?php
$websites = $block->getWebsites();
$websiteId = $block->getCurrentWebsiteId();
?>
<?php if (count($block->getWebsites()) > 1): ?>
<div class="top-form-language">
    <div class="dropdown-block switcher language website switcher-website" id="switcher-website">
        <!-- <strong class="label switcher-label"><span><?php //echo __('Select Website') ?></span></strong> -->

        <div class="actions dropdown options switcher-options">
            <?php foreach ($websites as $website): ?>
                <?php $websiteCode = $website->getCode(); ?>
                <?php if ($websiteId == $website->getId()): ?>
                    <?php $flag = 'style="background-image:url('. $block->getViewFileUrl(('images/flags/'. $websiteCode .'.jpg')) .');"'; ?>
                    <div class="dropdown-heading action toggle switcher-trigger"
                         role="button"
                         tabindex="0"
                         data-mage-init='{"dropdown":{}}'
                         data-toggle="dropdown"
                         data-trigger-keypress-button="true"
                         id="switcher-website-trigger">
                        <strong>
                            <span class="label dropdown-icon" <?php echo $flag ?>>&nbsp;</span>
                            <span class="value" <?php echo $flag ?>><?php echo $block->escapeHtml($website->getName()) ?></span>
                        </strong>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <ul class="dropdown-content dropdown switcher-dropdown" data-target="dropdown">
                <?php foreach ($websites as $website): ?>
                <?php if (!($websiteId == $website->getId())): ?>
                    <?php $websiteCode = $website->getCode(); ?>
                    <?php $flag = 'style="background-image:url('. $block->getViewFileUrl(('images/flags/'. $websiteCode .'.jpg')) .');"'; ?>
                    <li class="switcher-option">
                        <a  href='<?php echo $website->getDefaultStore()->getCurrentUrl() ?>' >
                            <span class="label dropdown-icon" <?php echo $flag ?>>
                            </span><?php echo $block->escapeHtml($website->getName()) ?>
                        </a>
                    </li>
                <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>